.about__wrapper {
  display: flex;
  justify-content: space-between;
}

.right__about {
  padding-left: 2rem;
  color: #191a1d;
}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
li {
  padding: 2px;
  list-style: none;
}
