@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,300;1,600&display=swap");
* {
  background-color: inherit;
}
a {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 500;
}
.logo::after {
  width: 100%;
  max-width: 30px;
  height: 6px;
  display: block;
  content: "";
  border-radius: 1000px;
  background: #4b6cc1;
  max-width: 30%;
  margin-top: 8px;
  transition: max-width ease 0.3s;
}

.logo {
  font-size: 1.75rem;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.063em;
  color: #fff;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 420px;
  color: gray;
}
.navbar__links a {
  color: inherit;
  transition: all 0.25s ease-in;
}
.navbar__links a:hover {
  color: #fff;
}
.pdf__handle {
  background-color: inherit;
}
.resume__button {
  color: #fff;
  font-size: inherit;
  background-color: #4b6cc1;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.resume__button:hover {
  background-color: #3d5799;
}
