@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,300;1,600&display=swap");
* {
  background-color: inherit;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 300;
}

.landing__wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 3rem;
}

.rect {
  background-color: black;
  padding: 50px;
  margin-bottom: 50px;
  width: 100%;
  border-radius: 6px;
  max-width: 424px;
}
img {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05), 0 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: block;
  width: 100%;
  padding-left: 147px;
  text-align: left;
}
.text__wrapper {
  color: #fff;
  letter-spacing: 0.1rem;
  font-weight: 800;
}
a {
  color: #4b6cc1;
}
