@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap");

a {
  text-decoration: none;
}
.container {
  padding: 0 3rem;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.heading__md {
  font-size: 1.75rem;
  text-align: center;
  padding-top: 2rem;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}
.subtitle__md {
  font-size: 0.85rem;
  text-align: center;
  color: gray;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
